################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSCN71020_A3/v17
/CSCN71020_A3/.vs/CSCN71020_A3
